.about{
    display: flex;
    align-items: flex-start;
    margin: auto;
}

.title {
    font-weight: bold;
    text-align: left;
    color: black;
    margin: 0;
    padding-bottom: 5px;
    display: block;
    position: relative;
    text-align: right;
}

.container p{
    font-size: 3rem;
    width: 600px;
}

.title::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 5px;
}

.patient-list {
    font-weight: 600;
    width: 100%;
    list-style-type: disc;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
    color: black;
    letter-spacing: 3px;
}

.patient-list li{
    font-size: 2rem;
}

.sub-about {
    font-size: 50px;
    display: flex;
    width: 70%;
    margin: auto;
    padding: 8%;
    text-align: center;
    font-style: italic;
}

@media (max-width: 768px) {
    .sub-about{
        font-size: 25px;
    }

    .title{
        width: 400px;
        font-size: 1.8rem;
    }
}

@media (min-width: 768px) {
    .title{
        font-size: 2rem;
        width: 450px;
    }

    .patient-list{
        font-size: 1.2rem;
    }

}
