.tittle {
    font-style: italic;
    text-align: center;
    font-weight: 500;
    font-size: 3.3rem;
}

.bar {
    width: 60%;
    height: 8px;
    background-color: black;
    border-radius: 50%;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10%;
}

#tittle{
    letter-spacing: 14px;
}

#tittle1{
    letter-spacing: 3px;
    display: flex;
    gap: 55px;
}

#tittle2{
    letter-spacing: 9px;
}

#tittle3{
    letter-spacing: 9px;
    display: flex;
    gap: 45px;
    margin-bottom: 8%;
}

.button-hero{
    display: flex;
    background-color: #6d8b74;
    width: 60%;
    border-radius: 30px;
    height: 70px;
    font-size: 35px;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
    margin: 5%;
    font-weight: bold;
    color: black;
    cursor: pointer;

}

.button-hero:hover{
    background-color: white;
    color: #6d8b74;
    transition: 1.5s;
    border-color: #6d8b74;
}

@media (max-width: 1024px) {
    .hero_content{
        margin-top: 28%;
    }

    .bar{
        width: 90%;
    }

    .tittle{
        font-size: 2rem;
    }

    .button-hero{
        height: 50px;
        font-size: 15px
    }
}

@media (max-width: 768px) {
    .bar{
        width: 90%;
    }
}