.location {
    display: flex;
    padding: 4rem;
    margin: auto;
    margin-top: 8%;
    background-color: #62b57e95;
    text-align: center;
    height: 100%;
}

.text-info {
    font-size: 1.5rem;
}

.direccion{
    font-size: 1.5rem;
}

.title1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.map-container{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 900px;
    gap: 1.5rem;
}

.sub-title{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

iframe{
    border: solid 4px;
    border-radius: 25px;
}