.location {
    display: flex;
    padding: 4rem;
    margin: auto;
    margin-top: 8%;
    background-color: #62b57e95;
    text-align: center;
    height: 100%;
}

.text-info {
    font-size: 1.5rem;
}

.direccion{
    font-size: 1.5rem;
}

.title1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.map-container{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 900px;
    gap: 1.5rem;
}

.sub-title{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

iframe{
    width: 100%;
    max-width: 800px;
    height: 500px;
    border: solid 4px;
    border-radius: 25px;
}

/* === Pantallas hasta 1024px (laptops) === */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* === Tablets hasta 768px === */
@media (min-width: 640px) and (max-width: 767px) {

}

/* === Móviles hasta 480px === */
@media (min-width: 500px) and (max-width: 639px) {

    .title1{
        font-size: 2rem;
    }

    .text-info{
        font-size: 1rem;
    }

}

/* === Móviles pequeños < 380px === */
@media (min-width: 360px) and (max-width: 490px) {

    .title1{
        font-size: 2rem;
    }
}